{% extends 'base.html.twig' %}

{% block body %}

    <div class="align-content-center">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>Search by Aliexpress Product ID</h1>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form  id = "searchForm" action="{{ url('apiSearch') }}">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="productId">Product ID:</label>
                        </div>
                        <div class="col-sm-8">
                            <input name = "searchKey" type="text" class="form-control" id="productId">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                <div id="result">
                    {%  embed "pages/cart.html.twig" %}{% endembed %}
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#result").hide();
        });
        $('#searchForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: e.currentTarget.action,
                type: 'post',
                dataType: 'json',
                data: $(this).serialize()
            }).done(function (data) {
                console.log(data);
                if(data.search == true){
                    $('#result').show();
                }
                console.log("success");
            }).fail(function (e) {
                console.log("Error");
                console.log(e);
            }).always(function () {
                console.log("complete");
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
